<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Listeners</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Events listeners</h1>
        </header>
        <div class="main">
            <div class="column">
                <h2>Inputs and buttons</h2>
                <br/>
                <br/>
                <label>Standard input <input type="text" id="standard-input"></label>
                <br/>
                <label>Checkbox <input type="checkbox" name="checkbox-input" id="checkbox-input"></label>
                <br/><br/>
                <button id="add-standard-input">Add dynamic standard input</button>
                <br/><br/>
                <button id="add-checkbox-input">Add dynamic checkbox</button>
                <br/><br/>
                <button id="add-button">Add dynamic button</button>
            </div>
            <div class="column" id="dynamic-column">
                <h2>Dynamic inputs and buttons</h2>
            </div>
            <div class="column" id="history-column">
                <h2>History</h2>
            </div>
        </div>
        <footer>
            <p>&copy; 2023 Events listeners</p>
        </footer>
    </div>
    <script src="index.js"></script>
</body>
</html>
