<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="main">
    <input id="todo-text" type="text">
    <input type="date" name="" id="todo-date">
    <button id="btn-add">Add todo</button>

    <h2>Todos</h2>
    <div id="todos">
        <div>
            <input type="checkbox">
            <span>Do the laundry - July 24th 2019</span>
            <button>X</button>
        </div>

        <div>
            <input type="checkbox">
            <span>Buy more sugar - July 25th 2019</span>
            <button>X</button>
        </div>

        <div>
            <input type="checkbox" checked>
            <span>Acquire all six infinity stones - July 27th 2019</span>
            <button>X</button>
        </div>

        <div>
            <input type="checkbox">
            <span>Take over the universe - July 28th 2019</span>
            <button>X</button>
        </div>
    </div>
</div>
<script type="module" src="./index.js"></script>
</body>

</html>