#main {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#todo-text {
    width: 300px;
}

#main>input {
    height: 20px;
    padding: 3px;
    box-shadow: 1px 1px;
}

body {
 background-color: black
  
}

/* #main>button {
    height: 30px;
    margin-left: 450px;
    padding: 3px 20px;
    border: 1px solid black;
    border-radius: 10px;
} */

/* #main>button:hover {
    background-color: #ff2222;
    color: #fff;
} */

#todos>div>button {
    border: 0;
    outline: 0;
}

#todos>div>button:hover {
    background-color: #ff2222;
    color: #fff;
} 

h2 {
    color: wheat;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#todos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.todo {
    border: 2px solid transparent; /* Set an initial transparent border */
    background: linear-gradient(45deg, violet, orange, yellow, green, cyan, blue, violet); /* Create an RGB gradient background */
    background-size: 200% 200%; /* Increase the background size to create a gradient effect */
    animation: rgbLights 5s linear infinite ; /* Animate the gradient background */
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Add an outline to the text */

  }
  
  @keyframes rgbLights {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 200% 200%;
    }
  }
